[v-cloak] {
    display: none;
}

.hero-body {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(rice.webp);
}